* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: indianred;
}
body {
    
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f2f2;
    color: #212020;
    line-height: 1.6;
}
header {
    background: linear-gradient(135deg, #6a11cb, #fc25cd);
    color: white;
    text-align: center;
    padding: 25px 10px;
}

header h1 {
    font-size: 2.2rem;
}

header p {
    margin-top: 10px;
    font-size: 1.1rem;
}


nav {
    background: #222;
    text-align: center;
    padding: 10px;
}
nav a {
    color: #c4a5a5;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
}
nav a:hover {
    color: #09ff00;
}
main {
    
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 20px;
}
h2 {
    background-color: #a2dbf7;
    color: #3b25fc;
    margin-bottom: 10px;
}
h3 {
    color: #444;
    margin-top: 10px;
}
p {
    margin: 10px 0;
}
img {
    border-radius: 50%;
    border: 3px solid #2575fc;
    margin-top: 10px;
}
ul, ol {
    margin-left: 30px;
    margin-bottom: 15px;
}
li {
    margin: 6px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    background: #fafafa;
}
caption {
    font-weight: bold;
    margin-bottom: 10px;
}
th, td {
    padding: 10px;
    text-align: center;
}
th {
    background: #4cfc25;
    color: white;
}
tr:nth-child(even) {
    background: #e9f0ff;
}
tfoot th {
    background: #444444;
    color: white;
}
form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}
input, label {
    font-size: 1rem;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="radio"],
input[type="checkbox"] {
    margin-right: 5px;
}
input[type="submit"] {
    background: #2575fc;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #540ca2;
}
video, audio, iframe {
    margin-top: 10px;
    border-radius: 6px;
}
footer {
    background: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
footer a {
    color: #ffcc00;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}
hr {
    margin: 20px 0;
    border: none;
    height: 1px;
    background: #ccc;
}